html,body {
    background-color: white;
    padding: 0;
    margin: 0;
}

a, li, h1, h2, h3, h4 {
    font-family: 'Goudy Bookletter 1911', serif;
}
p, sub {
    font-family: sans-serif;
}
em {
    /* opacity: 70%; */
}

#header-image {
    width: 100%;
    padding: 0;
    margin: 0;
}
.sticky {
  position: fixed;
  top: 4px;
}
.sticky + .blog {
    padding-top: 53px;
}
nav {
    background-color: #5d1932;
    width: 100%;
    margin-top: -4px;
    padding: 0;
    height: auto;
    text-align: center;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    float: left;
}
nav li a {
    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 9px;
    padding-left: 5vw;
    padding-right: 5vw;
    text-decoration: none;
}
.blog {
}
.blog-item {
    text-align: left;
    padding: 2em 10em 0em 10em;
    margin: auto;
}
.omoss {
    padding: 4em;
}
hr {
    margin-top: 75px;
}
footer {
    padding: 3em;
    margin-top: 100px;
    background-color: #5d1932;
    text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 20px;
}
.fa-facebook {
  background: white;
  color: black;
}
.fa-youtube {
  background: white;
  color: black;
}
.fa-instagram {
  background: white;
  color: black;
}
.fa:hover {
    opacity: 0.7;
}
#made-by {
    margin-top: 50px;
    opacity: 70%;
    font-family: sans-serif;
    color: white;
}
#made-by a {
    opacity: 70%;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: blue;
    }
}
